.venv-win/
.venv-mac/
.venv-orlean/
.venv-orlean-school/
.venv-pedro-fabio/
.venv-pedro-luis/
.venv-pedro-daniel/
.DS_Store
.vscode/
Desktop.ini
.idea/
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.ipynb_checkpoints/